@import vars

::-webkit-scrollbar
	display: none

::placeholder
	color: #ebebeb

::selection
	background-color: #e7e6e6
	color: #fff

input, textarea
	outline: none
	// &:focus:required:invalid
	// 	border-color: red
	// &:required:valid
	// 	border-color: green
	font-family: 'Roboto', sans-serif

html
	height: 100%
body
	font-size: 16px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow: hidden
	color: $text
	height: 100vh
	margin: 0
	box-sizing: border-box

.container
	width: 100%
	padding:
		right: $gutter/2
		left: $gutter/2

h1, h2, h3, h4, h5, h6, p, ul, ol
	margin: 0

a, a:hover, a:visited
	text-decoration: none
	color: $text

button, button:active, button:focus, input
	border: none			
	outline: none
	background: none

li
	list-style-type: none	

img
	display: block
	pointer-events: none
	user-select: none

.section
	margin-top: 30px
	overflow-y: scroll

.preloader
	position: absolute
	top: 0
	right: 0
	left: 0
	bottom: 0
	background: $lightdark
	display: flex
	justify-content: center
	align-items: center

.header
	height: 65px
	background: $dark
	padding: $padside
	align-items: center	
	display: grid
	grid-template-columns: 220px 4fr 220px
	justify-content: space-between 
	overflow: hidden
	&__logo
		a
			font-size: 20px
			font-weight: 700
			text-transform: uppercase
			color: $accent
			span
				color: $text
	&-container
		display: flex
		justify-content: space-between
		&__profile
			display: flex
			align-items: center
			&_avatar
				height: 65px
				width: 65px
				img
					width: 100%
					height: 100%
			&-text
				margin-left: 14px
				.h2
					letter-spacing: 0.64px
					font-size: 15px
					font-weight: 400
					text-transform: uppercase
				.h3
					color: $accent
					font-size: 12px
					letter-spacing: 0.48px
		&__search
			background: $accent
			display: flex
			padding: 0 20px
			justify-content: space-around
			align-items: center
			width: 33%
			input
				border-bottom: 1px solid #fff
				letter-spacing: 0.96px
				font-size: 13px
				width: 70%
				height: 30px
				color: $text
				font-weight: 300				
			button
				border-radius: 50%
				color: $text
				border: 2px solid #fff
				width: 38px
				height: 38px
				font-size: 15px
				padding: 5px	

.window
	display: grid
	grid-template-columns: 220px 4fr 220px
	padding: $padside
	height: 100vh

.nav
	display: flex
	flex-direction: column
	justify-content: space-between
	padding: 30px 0 160px
	&__menu		
		&__link
			font-size: 14px
			font-weight: 400
			text-transform: uppercase
			letter-spacing: 0.08em
			color: #ffffff
			text-decoration: none
			display: flex
			align-items: center
			padding: 15px 0
			transition: .25s
			&:hover
				text-decoration: none 
				color: $accent
		&__icon
			margin-right: 10px
			width: 22px
	&__statistic
		padding-right: 30px
		&-delimiter
			width: 47px
			height: 2px
			background-color: $accent
			margin-bottom: 20px
		&-heading
			font-size: 14px
			font-weight: 400
			text-transform: uppercase
			letter-spacing: 0.08em
			color: #ffffff	
			margin-bottom: 10px
		&-line
			display: flex
			justify-content: space-between
			&__title
				font-size: 14px
				font-weight: 400
				text-transform: uppercase
				letter-spacing: 0.08em
				color: #6e6e6e
			&__value
				font-size: 14px
				font-weight: 400
				text-transform: uppercase
				letter-spacing: 0.08em
				color: $accent	
				text-align: right

.content
	&-header
		&__photo
			width: 100%
		&__text
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: 0
			background: rgba(#000, .4)
			padding: 12px 30px 12px 20px
			.h2
				font-weight: 400
				font-size: 11px
				text-transform: uppercase
				letter-spacing: 1.2px
			.h3
				font-size: 21px
				letter-spacing: 1.2px
	&-list
		margin-top: 20px
		display: grid
		grid-template-columns: 1fr 1fr 1fr 1fr
		grid-gap: 20px
		position: relative
		&__item
			img
				width: 100%
				height: 100%
	&-header, &-list__item
		position: relative
		&::before
			content: '\f144'
			font-family: 'Font Awesome 5 Free'
			position: absolute
			font-weight: 700
			font-size: 30px
			color: #ccc
			top: 0
			right: 0
			bottom: 0
			left: 0
			background: rgba(#000, .5)
			display: flex
			justify-content: center
			align-items: center
			opacity: 0
			visibility: hidden
			transition: .2s
		&:hover
			cursor: pointer
			&::before
				opacity: 1
				visibility: visible

.playlists
	padding: 30px 0 30px 30px
	.h2					
		font-size: 16px
		letter-spacing: 1.28px
		font-weight: 400
		text-transform: uppercase
		display: flex
		align-items: flex-end
		line-height: 20px
	&-list	
		margin-top: 15px
		height: 73vh
		overflow-y: scroll 
		&-category
			padding-left: 30px
			margin-top: 15px
			position: relative		
			&::before
				content: ''
				width: 5px
				height: 5px
				position: absolute
				left: 14px
				top: 19px
				background: #ccc
				border-radius: 50%
				opacity: 1
				transition: .25s
			&:hover
				.h3
					color: lighten($accent, 7%)
				&::before
					background: $accent
			.h3	
				text-transform: uppercase
				font-size: 15px
				margin-bottom: 12px
				cursor: pointer
				transition: .25s
				padding: 10px 0
				font-weight: 400
				transition: .25s
			&__item
				color: #8c8c8c
				border-left: 1px solid $accent
				padding: 12px 0 12px 14px
				font-size: 13px
				cursor: pointer

.music-player
	width: 100%
	background: #0a0a0a
	color: #fff
	position: fixed
	bottom: 0
	left: 0
.player
	display: flex
	align-items: center
	justify-content: space-between
	height: 65px
	padding: 0 25px
	&__info
		display: flex
		align-items: center
		width: 190px
		&-img
			width: 50px
			height: 50px
			font: none
			border-radius: 50%
			background-size: cover
			background-position: center
			background-repeat: no-repeat
			margin-right: 15px
		&-description
			text-align: start
			&__title
				font-weight: 300
				text-transform: uppercase
				font-size: 14px 
			&__artist
				font-size: 11px
				font-weight: 300
				color: #b3b3b3
	&__control
		display: flex
		button
			padding: 0
			line-height: 10px
		.step-backward
			margin-right: 10px
		.step-forward
			margin-left: 10px
	&__progressbar
		display: flex
		align-items: center
		min-width: 60%
		&-time
			font-size: 12px
			font-weight: 300
			margin-right: 10px
	&__type
		height: 20px
		button
			background: none
			border: 0
			outline: none
			cursor: pointer
			padding: 0		
	&__volume
		display: flex
		min-width: 8%
		align-items: center
		&-icon
			margin-right: 10px
			height: 21px
		&-bar
			width: 100%
.progress
	width: 100%
	background-color: #dadada
	outline: none
	cursor: pointer
.progress
	height: 6px !important
	border-radius: 10px
	background-color: #292929 !important
	&-inner
		height: 6px !important
		border-radius: 10px
		background-color: $accent !important

.profile
	&-header
		height: 32vh
		display: flex
		align-items: center
		padding: 0 30px
		color: $text
		position: relative
		&::before
			content: ''
			background: rgba(#000, .5)
			top: 0
			right: 0
			bottom: 0
			left: 0
			position: absolute
			z-index: 1
		div:not(.profile-header-wrapper)
			z-index: 2
		&-wrapper
			background-position: center
			background-size: cover
			background-repeat: no-repeat
			filter: blur(1.5px)
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
		&__avatar
			height: 150px
			width: 150px
			margin-right: 20px
			box-shadow: 0 0 10px 1px $dark
			overflow: hidden
			img
				width: 100%
				height: 100%
		&__info
			.h2
				font-weight: 400
				font-size: 16px
				margin: 10px 0
			.h3	
				text-align: right
				position: absolute
				top: 12px
				right: 20px
				color: #ccc
				font-weight: 400
				font-size: 14px	
	&-content
		margin-top: 20px
		&-nav
			display: flex
			a
				padding: 7px 20px
				text-align: center
				cursor: pointer
				transition: .25s
				color: #ccc
				&:hover
					background: darken($accent, 5%)
					color: $text
				&.active
					background: $lightdark
			.addsong
				color: #ffffff
				font-weight: 200
				margin-left: auto
				background: darken($accent, 5%)
				border: 1px solid transparent
				&:hover
					color: $accent		
					background: transparent
					border: 1px solid darken($accent, 5%)
		&-container
			background: $lightdark
			padding: 20px
			.addsong-container
				&__avatar
					width: 160px
					height: 160px
					position: relative
					img
						width: 100%
						height: 100%
					input
						background: #000
						position: absolute
						z-index: -1
						opacity: 0
					label
						position: absolute
						top: 0
						right: 0
						bottom: 0
						left: 0
						opacity: 0
						display: flex
						justify-content: center
						align-items: center
						transition: .25s
						border: 1px dashed transparent
					&:hover
						label
							cursor: pointer
							opacity: 1
							background: rgba(#000, .7)
							border: 2px dashed $accent

							
// ----
.signup
	background: #151515
	height: 100vh
	display: flex
	align-items: center
	&-container
		max-width: 900px
		margin:
			left: auto
			right: auto
		display: flex
		background: #0a0a0a
		box-shadow: 0px 15px 16.83px 0.17px #00000082 
		&__image
			width: 400px
			background-position: center
			background-repeat: no-repeat
			background-size: cover
		&__title
			line-height: 1.66
			margin: 0
			padding: 0
			font-weight: bold
			color: #fff
			font-size: 36px	
			margin-bottom: 33px
		&__form
			width: 430px
			margin:
				right: 90px
				left: 80px
			&--register
				margin: 
					top: 60px
					bottom: 47px
			&--login		
				margin:
					top: 60px
					bottom: 87px
		&__link
			color: #fff !important
			text-decoration: none !important

.form
	width: 100%
	position: relative
	&__error
		position: absolute
		left: 0
		top: 31px
		&-login
			position: absolute
			left: 0
			top: -30px
	&-group
		position: relative
		padding-bottom: 30px
		overflow: hidden
		&:last-child
			padding-bottom: 0	
		input::placeholder
			color: 	rgba(137, 135, 135, 0.53)	
		&__label
			position: absolute
			left: 3px
			top: 5%
			font-size: 14px
			color: #f23005
		&__input
			width: 100%
			display: block
			border: none
			border-bottom: 1px solid #999999
			padding: 6px 30px
			box-sizing: border-box	
			background: #0a0a0a
			color: #fff
	&-submit
		display: inline-block
		background: #f23005
		border-bottom: none
		width: auto
		padding: 10px 39px
		cursor: pointer
		margin-top: 16px
		border: none
		color: #fff
.error
	font-size: 14px
	color: #f23005
.url
	&-login
		background-image: url(../img/img-login.jpg);
	&-register
		background-image: url(../img/img-register.jpg);			
// ----


.notfound
	display: flex
	align-items: center
	justify-content: center
	div
		height: 100vh
		position: relative
		text-transform: uppercase
	&__img
		width: 40%
		background: $accent
		h2
			color: $dark
			position: absolute
			top: 50%
			transform: translateY(-50%)
			font-size: 50px
			font-weight: 900
			&:last-of-type
				top: 54%
				font-size: 30px	
	&__text	
		width: 60%
		color: $accent
		h3
			font-size: 50px
			right: 0	
			position: absolute
			top: 50%
			transform: translateY(-50%)
			font-weight: 900
			&:last-of-type
				top: 54%
				font-size: 30px
	
/*  */

.step-backward:before
  content: url(../img/backward.svg)
  display: block

.step-forward:before
  content: url(../img/backward.svg)
  display: block
  transform: scale(-1,1)

.icon-play:before
  content: url(../img/interface.svg)
  display: block

.icon-pause:before
  content: url(../img/signs.svg)
  display: block

.icon-volume-up:before
  content: url(../img/multimedia.svg)
  display: block

.icon-refresh:before
  content: url(../img/refresh.svg)
  display: block

.icon-repeat:before
  content: url(../img/repeat.svg)
  display: block

.icon-random:before
  content: url(../img/random.svg)
  display: block	

// always at the end	
@import media  